body {
    background-color: rgb(43, 43, 75);
}

.content_main {
    background-color: black;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(155, 155, 243);
    margin: 20px;
}

.sun {
    background-color: white;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    position: absolute;
}

.stars {
    background-image: url("stars.png");
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.clouds {
    background-image: url("clouds.png");
    width: 200px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: none;
    z-index: 1;
}

.content_main:hover {
    background-color: #62d0df;
}

.content_main:hover .sun {
    background-color: #ffeb0a;
}

.content_main:hover .stars {
    display: none;
}

.content_main:hover .clouds {
    display: block;
}

.background-two {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 4px solid #541f03;
    background-image: url("scale_1200.jpg");
    background-size: cover;
}

.background-two:active {
    background-image: url("QPdAc.jpg");
}